# data
data/

#other
.idea/
.virtual_documents/
.vscode/

#config
config/config.py

CLAUDE.md
# environment
.env

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
build/
dist/

# os
.DS_Store
Thumbs.db
